@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display+SC:ital,wght@1,400;1,700;1,900&family=Playfair+Display:wght@400;600;700;800;900&family=Roboto:wght@100&display=swap");
@font-face {
  font-family: "Mark Pro";
  src: url("../../common_font/Mark-Pro/transfonter/MarkPro-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mark Pro";
  src: url("../../common_font/Mark-Pro/transfonter/MarkPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mark Pro";
  src: url("../../common_font/Mark-Pro/transfonter/MarkPro-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "../../common_font/Mark-Pro/transfonter/Mark Pro";
  src: url("MarkPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html {
  font-family: "Mark Pro", "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol, li {
  list-style-type: none;
}

/* 
//타블렛 1022px이하
@media(max-width: 1022px){

}// @media(max-width: 1022px) //타블렛 1022px이하 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//모바일 896px이하
@media(max-width: 896px){

}// @media(max-width: 896px) //모바일 896px이하 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
body {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

header {
  transition: 0.3s;
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: white;
  padding: 0 25px;
  padding-top: 36px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
}
header > .head_El {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header > .head_El > h1.Logo > a {
  display: inline-block;
  width: 152px;
  height: 21px;
  background: url("../../header/img/Logo_white.svg") center center/100% 100% no-repeat scroll;
}
header > .head_El > ul.head_gnb_horizontal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 884px;
}
header > .head_El > ul.head_gnb_horizontal > li {
  transform: translateY(7px);
}
header > .head_El > ul.head_gnb_horizontal > li > a {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
}
header > .head_El > ul.head_gnb_horizontal > li > ul.head_lnb {
  transform: translateY(40px);
}
header > .head_El > ul.head_gnb_horizontal > li > ul.head_lnb > li > a {
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 200%;
}
header > .head_El > ul.head_gnb_horizontal > li > ul.head_lnb > li > a.mini {
  font-size: 12px;
  font-weight: 500;
  color: #707070;
}
header > .head_El > ul.head_gnb_horizontal > li > ul.head_lnb > li.firstLnb {
  margin-top: 20px;
}
header > .head_El > div.head_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
header > .head_El > div.head_right > .Language {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  margin-right: 40px;
  font-size: 13.3px;
  cursor: pointer;
}
header > .head_El > div.head_right > .verMenu_btn {
  width: 24px;
  height: 24px;
  background: url("../../header/img/icon_headerLogo_white.svg") center center/100% 100% no-repeat scroll;
  cursor: pointer;
}
header:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  height: 424px;
  box-shadow: 0px 5px 20px rgba(120, 120, 120, 0.15);
}
header:hover > .head_El > h1.Logo > a {
  background: url("../../header/img/Logo_black.svg") center center/100% 100% no-repeat scroll;
}
header:hover > .head_El > div.head_right > .Language {
  border: 1px solid black;
}
header:hover > .head_El > div.head_right > .verMenu_btn {
  background: url("../../header/img/icon_headerLogo_black.svg") center center/100% 100% no-repeat scroll;
}
@media (max-width: 1284px) {
  header > .head_El > h1.Logo > a {
    width: 198px;
    height: 27px;
  }
  header > .head_El > ul.head_gnb_horizontal {
    display: none;
  }
  header:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    height: 100px;
    box-shadow: none;
  }
  header:hover > .head_El > h1.Logo > a {
    background: url("../../header/img/Logo_white.svg") center center/100% 100% no-repeat scroll;
  }
  header:hover > .head_El > div.head_right > .Language {
    border: 1px solid white;
  }
  header:hover > .head_El > div.head_right > .verMenu_btn {
    background: url("../../header/img/icon_headerLogo_white.svg") center center/100% 100% no-repeat scroll;
  }
}
@media (max-width: 1022px) {
  header {
    height: 88px;
    padding-top: 33px;
  }
  header > .head_El > div.head_right > .Language {
    width: 84px;
    height: 30px;
    margin-right: 60px;
  }
  header > .head_El > div.head_right > .verMenu_btn {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 896px) {
  header {
    height: 56px;
    padding-top: 17px;
  }
  header > .head_El > h1.Logo > a {
    width: 152px;
    height: 21px;
  }
  header > .head_El > div.head_right > .Language {
    width: 71px;
    height: 24px;
    margin-right: 20px;
    font-size: 12.5px;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #222;
  opacity: 100%;
  z-index: 10000;
  padding: 0 64px;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0%;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}
nav.active {
  transform: translateX(0%);
  opacity: 100%;
}
nav > div.head_gnb_vertical_top_Wrap {
  flex-shrink: 0;
  width: 100%;
  height: 100px;
  position: relative;
}
nav > div.head_gnb_vertical_top_Wrap > h1.Logo {
  position: absolute;
  top: 35px;
  left: 0px;
  width: 216px;
  height: 30px;
  background: url("../../header/img/logo_white.svg") center center/100% 100% no-repeat scroll;
}
nav > div.head_gnb_vertical_top_Wrap > div.xBtn {
  position: absolute;
  top: 36px;
  right: 0px;
  width: 24px;
  height: 24px;
  background: url("../../header/img/ico_nav_x.svg") center center/100% 100% no-repeat scroll;
  cursor: pointer;
}
nav > ul.head_gnb_vertical {
  position: relative;
  width: auto;
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  line-height: 71px;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}
nav > ul.head_gnb_vertical > li {
  width: 800px;
  margin-top: 40px;
}
nav > ul.head_gnb_vertical > li > a {
  transition: all 0.3s linear;
  width: auto;
  color: inherit;
  line-height: 71px;
  white-space: nowrap;
  transition: all 0.3s;
}
nav > ul.head_gnb_vertical > li > a::before {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  background-color: rgb(213, 0, 55);
  vertical-align: top;
  margin-right: 0px;
  opacity: 0%;
}
nav > ul.head_gnb_vertical > li > a:hover:before {
  display: inline-block;
  margin-right: 30px;
  opacity: 100%;
}
nav > ul.head_gnb_vertical > li > ul.head_lnb {
  position: absolute;
  top: 40px;
  left: 580px;
  display: none;
  opacity: 0%;
}
nav > ul.head_gnb_vertical > li > ul.head_lnb > li:not(:first-child) {
  margin-top: 32px;
}
nav > ul.head_gnb_vertical > li > ul.head_lnb > li > a {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  line-height: 48px;
  white-space: nowrap;
}
nav > ul.head_gnb_vertical > li > ul.head_lnb > li.mini {
  margin-top: 0px;
}
nav > ul.head_gnb_vertical > li > ul.head_lnb > li.mini > a {
  font-size: 24px;
  font-weight: 500;
  color: #ccc;
  line-height: 36px;
}
nav > ul.head_gnb_vertical > li.active > a:before {
  display: inline-block;
  margin-right: 30px;
  opacity: 100%;
}
nav > ul.head_gnb_vertical > li.active > ul {
  display: block;
  opacity: 100%;
}
nav > div.head_gnb_vertical_bottom {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
nav > div.head_gnb_vertical_bottom > ul.sideMenu {
  margin-bottom: 28px;
}
nav > div.head_gnb_vertical_bottom > ul.sideMenu > li {
  text-align: right;
}
nav > div.head_gnb_vertical_bottom > ul.sideMenu > li:not(:last-child) {
  margin-bottom: 20px;
}
nav > div.head_gnb_vertical_bottom > ul.sideMenu > li > a {
  font-size: 20px;
  font-weight: 500;
  color: #999;
}
nav > div.head_gnb_vertical_bottom > ul.snsIcons {
  padding-left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > div.head_gnb_vertical_bottom > ul.snsIcons > li {
  width: auto;
}
@media (max-width: 1022px) {
  nav {
    padding: 0 48px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  nav > div.head_gnb_vertical_top_Wrap {
    width: 100%;
    height: 100px;
    position: relative;
  }
  nav > div.head_gnb_vertical_top_Wrap > h1.Logo {
    position: absolute;
    top: 35px;
    width: 216px;
    height: 30px;
    background: url("../../header/img/logo_white.svg") center center/100% 100% no-repeat scroll;
  }
  nav > div.head_gnb_vertical_top_Wrap > div.xBtn {
    position: absolute;
    top: 36px;
    right: 0px;
    width: 24px;
    height: 24px;
    background: url("../../header/img/ico_nav_x.svg") center center/100% 100% no-repeat scroll;
    cursor: pointer;
  }
  nav > ul.head_gnb_vertical {
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    line-height: 100%;
  }
  nav > ul.head_gnb_vertical > li {
    margin-top: 32px;
  }
  nav > ul.head_gnb_vertical > li > a {
    line-height: 48px;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb {
    position: absolute;
    top: 32px;
    left: 410px;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb > li:not(:first-child) {
    margin-top: 24px;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb > li > a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 100%;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb > li.mini {
    margin-top: 14px;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb > li.mini > a {
    font-size: 20px;
    font-weight: 500;
    color: #ccc;
    line-height: 100%;
  }
  nav > ul.head_gnb_vertical > li.active > a:before {
    margin-right: 15px;
  }
  nav > div.head_gnb_vertical_bottom {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }
  nav > div.head_gnb_vertical_bottom > ul.sideMenu {
    margin-bottom: 25px;
  }
  nav > div.head_gnb_vertical_bottom > ul.sideMenu > li {
    text-align: right;
  }
  nav > div.head_gnb_vertical_bottom > ul.sideMenu > li:not(:last-child) {
    margin-bottom: 16px;
  }
  nav > div.head_gnb_vertical_bottom > ul.sideMenu > li > a {
    font-size: 16px;
    font-weight: 500;
    color: #999;
  }
  nav > div.head_gnb_vertical_bottom > ul.snsIcons {
    padding-left: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav > div.head_gnb_vertical_bottom > ul.snsIcons > li {
    width: auto;
  }
}
@media (max-width: 896px) {
  nav {
    padding: 0 32px;
    padding-right: calc(100vw - 100% + 32px);
  }
  nav > div.head_gnb_vertical_top_Wrap {
    width: 100%;
    height: 50px;
    position: relative;
  }
  nav > div.head_gnb_vertical_top_Wrap > h1.Logo {
    position: absolute;
    top: 17px;
    width: 136px;
    height: 20px;
  }
  nav > div.head_gnb_vertical_top_Wrap > div.xBtn {
    top: 18px;
    right: 0px;
  }
  nav > ul.head_gnb_vertical {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
  }
  nav > ul.head_gnb_vertical > li {
    margin-top: 24px;
  }
  nav > ul.head_gnb_vertical > li > a {
    line-height: 36px;
  }
  nav > ul.head_gnb_vertical > li > a::before {
    width: 8px;
    height: 8px;
  }
  nav > ul.head_gnb_vertical > li > a:hover:before {
    display: inline-block;
    margin-right: 10px;
    opacity: 100%;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb {
    position: relative;
    top: 0px;
    left: 30px;
    margin: 24px 0px;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb > li:not(:first-child) {
    margin-top: 16px;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb > li > a {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb > li.mini {
    margin-top: 16px;
  }
  nav > ul.head_gnb_vertical > li > ul.head_lnb > li.mini > a {
    font-size: 14px;
    font-weight: 500;
    color: #ccc;
  }
  nav > ul.head_gnb_vertical > li.active > a:before {
    margin-right: 10px;
  }
  nav > div.head_gnb_vertical_bottom {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    margin-top: 56px;
  }
  nav > div.head_gnb_vertical_bottom > ul.sideMenu {
    margin: 32px 0;
  }
  nav > div.head_gnb_vertical_bottom > ul.sideMenu > li {
    text-align: left;
  }
  nav > div.head_gnb_vertical_bottom > ul.sideMenu > li:not(:last-child) {
    margin-bottom: 14px;
  }
  nav > div.head_gnb_vertical_bottom > ul.sideMenu > li > a {
    font-size: 14px;
    font-weight: 500;
    color: #999;
  }
  nav > div.head_gnb_vertical_bottom > ul.snsIcons {
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  nav > div.head_gnb_vertical_bottom > ul.snsIcons > li {
    width: auto;
    margin-right: 15px;
  }
}

div.padding {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 172px 0px 0px;
  /* 
  //타블렛 1022px이하
  @media(max-width: 1022px){
      padding: 136px 48px 0px;
  }// @media(max-width: 1022px) //타블렛 1022px이하 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


  //모바일 896px이하
  @media(max-width: 896px){
      padding: 88px 32px 0px;

  }// @media(max-width: 896px) //모바일 896px이하 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   */
}
div.padding div.wrapper {
  max-width: 1216px;
  width: 100%;
  height: 100%;
}
div.padding div.wrapper h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
  line-height: 1.5;
  margin: 24px 0px;
}
div.padding div.wrapper > nav {
  font-size: 14px;
  font-weight: inherit;
  color: #707070;
  margin-bottom: 56px;
  margin-left: 48px;
  margin-right: 48px;
}
div.padding div.wrapper > nav > span {
  vertical-align: middle;
}
div.padding div.wrapper > nav > span::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0px 8px;
  background: #333;
  vertical-align: middle;
}
div.padding div.wrapper > nav > span:nth-of-type(2) {
  font-size: inherit;
  font-weight: 600;
  color: #d50037;
}
div.padding div.wrapper > nav > span:nth-of-type(2)::after {
  content: "";
  font-family: "Material Symbols Outlined";
  width: 12px;
  height: 12px;
  background-color: transparent;
  margin-bottom: 8px;
  cursor: pointer;
}
div.padding div.wrapper > article {
  margin-top: 120px;
  margin-left: 48px;
  margin-right: 48px;
}
div.padding div.wrapper > article:nth-of-type(1) {
  margin-top: 0px;
}
div.padding div.wrapper > article.contents1 > h1 {
  font-size: 72px;
  font-weight: 700;
  color: black;
  line-height: 1.5;
}
div.padding div.wrapper > article.contents1 > ul {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.padding div.wrapper > article.contents1 > ul > li.left {
  flex-basis: 48%;
  padding-right: 10vw;
}
div.padding div.wrapper > article.contents1 > ul > li.left > dl {
  margin-bottom: 64px;
}
div.padding div.wrapper > article.contents1 > ul > li.left > dl > dt {
  font-size: 56px;
  font-weight: 800;
  color: black;
  margin-bottom: 32px;
}
div.padding div.wrapper > article.contents1 > ul > li.left > dl > dd {
  font-size: 32px;
  font-weight: 700;
  color: black;
  white-space: nowrap;
}
div.padding div.wrapper > article.contents1 > ul > li.left > dl > dd br {
  display: none;
}
div.padding div.wrapper > article.contents1 > ul > li.left > dl > dd br.on {
  display: inline;
}
div.padding div.wrapper > article.contents1 > ul > li.left > p {
  font-size: inherit;
  font-weight: inherit;
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
}
div.padding div.wrapper > article.contents1 > ul > li.right {
  width: 100%;
  flex-basis: 40%;
}
div.padding div.wrapper > article.contents1 > ul > li.right > i {
  width: 100%;
}
div.padding div.wrapper > article.contents1 > ul > li.right > i > img {
  width: 100%;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list {
  height: 834px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li {
  height: 100%;
  text-align: center;
  border: 1px solid #d6d6d6;
  margin-right: 32px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > h4.top {
  height: 245px;
  border-bottom: 1px solid #d6d6d6;
  padding: 48px 0px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > h4.top > strong {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  line-height: 1.5;
  margin-top: 24px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > h4.top > span {
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  margin-top: 8px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > dl > dt {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > dl > dd {
  margin-top: 8px;
  padding: 0px 32px;
  font-size: 16px;
  font-weight: inherit;
  color: #333;
  letter-spacing: -1px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > p {
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin: 40px 0px 16px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(1) {
  height: 113px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(1) > li {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 10;
  color: black;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(1) > li::before {
  content: "✔";
  color: rgb(213, 0, 55);
  margin-right: 5px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) {
  margin-bottom: 40px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) > li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) > li > span {
  font-size: 16px;
  font-weight: inherit;
  color: #333;
  margin-right: 18px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) > li > ul {
  width: 128px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) > li > ul > li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D6D6D6;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(1) > h4.top {
  color: #53575a;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(1) > ul > li:nth-of-type(-n+2) {
  background-color: #d50037;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(2) > ul > li:nth-of-type(-n+5) {
  background-color: #d50037;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(2) > h4.top {
  color: #f05329;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(2) > ul:nth-of-type(2) > li:nth-of-type(1) > ul > li:nth-of-type(-n+4) {
  background-color: #d50037;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(2) > ul:nth-of-type(2) > li:nth-of-type(2) > ul > li:nth-of-type(-n+3) {
  background-color: #d50037;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(3) {
  margin-right: 0px;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(3) > h4.top {
  color: #4388bc;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(3) > ul:nth-of-type(2) > li:nth-of-type(1) > ul > li:nth-of-type(-n+2) {
  background-color: #d50037;
}
div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li:nth-of-type(3) > ul:nth-of-type(2) > li:nth-of-type(2) > ul > li:nth-of-type(-n+4) {
  background-color: #d50037;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s {
  height: 552px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 32px;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li:nth-of-type(1) {
  margin-left: 0px;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li span {
  position: absolute;
  top: 8px;
  left: 0px;
  display: inline-block;
  background: black;
  font-size: 14px;
  font-weight: inherit;
  color: white;
  padding: 3px 8px;
  white-space: nowrap;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li i {
  width: 100%;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li i img {
  width: 100%;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li dl {
  margin-top: 24px;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li dl dt {
  font-size: 24px;
  font-weight: 700;
  color: black;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li dl dd {
  margin-top: 4px;
  font-size: 16px;
  font-weight: inherit;
  color: #707070;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li p.txt_up {
  margin-top: 24px;
  font-size: 18px;
  font-weight: inherit;
  color: #333;
}
div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li p.txt_down {
  margin-top: 16px;
  font-size: 14px;
  font-weight: inherit;
  color: #707070;
}
@media (max-width: 1022px) {
  div.padding div.wrapper {
    max-width: 1216px;
    width: 100%;
    height: 100%;
  }
  div.padding div.wrapper h2 {
    font-size: 32px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > nav {
    font-size: 14px;
    font-weight: inherit;
    color: #707070;
    margin-bottom: 24px;
  }
  div.padding div.wrapper > nav > span {
    vertical-align: middle;
  }
  div.padding div.wrapper > nav > span::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0px 8px;
    background: #333;
    vertical-align: middle;
  }
  div.padding div.wrapper > nav > span:nth-of-type(3) {
    font-size: inherit;
    font-weight: 600;
    color: #d50037;
  }
  div.padding div.wrapper > nav > span:nth-of-type(3)::after {
    content: "expand_more";
    font-family: "Material Symbols Outlined";
    width: 12px;
    height: 12px;
    background-color: transparent;
    margin-bottom: 8px;
    cursor: pointer;
  }
  div.padding div.wrapper > article {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
  }
  div.padding div.wrapper > article.contents1 > h1 {
    font-size: 56px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > article.contents1 > ul {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left {
    flex-basis: 49%;
    padding-right: 1vw;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left > dl {
    margin-bottom: 48px;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left > dl > dt {
    font-size: 48px;
    font-weight: 800;
    color: black;
    margin-bottom: 24px;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left > dl > dd {
    font-size: 24px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left > p {
    font-size: 16px;
    font-weight: inherit;
    color: #333;
  }
  div.padding div.wrapper > article.contents1 > ul > li.right {
    width: 100%;
    flex-basis: 48%;
  }
  div.padding div.wrapper > article.contents1 > ul > li.right > i {
    width: 100%;
  }
  div.padding div.wrapper > article.contents1 > ul > li.right > i > img {
    width: 100%;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list {
    height: 707px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li {
    margin-right: 32px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > h4.top {
    height: 210px;
    padding: 40px 0px;
    margin-bottom: 40px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > h4.top > strong {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    line-height: 1.5;
    margin-top: 16px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > h4.top > span {
    font-size: 14px;
    font-weight: normal;
    color: inherit;
    margin-top: 6px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > dl > dt {
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > dl > dd {
    margin-top: 6px;
    padding: 0px 24px;
    font-size: 14px;
    font-weight: inherit;
    color: #333;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > p {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin: 32px 0px 12px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(1) {
    height: 96px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(1) > li {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 10;
    color: black;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(1) > li::before {
    margin-right: 5px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) {
    margin-bottom: 32px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) > li > span {
    font-size: 14px;
    font-weight: inherit;
    color: #333;
    margin-right: 12px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) > li > ul {
    width: 126px;
    height: 21px;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s {
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li {
    width: 100%;
    height: 100%;
    margin-left: 32px;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li dl dt {
    font-size: 20px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li dl dd {
    font-size: 14px;
    font-weight: inherit;
    color: #707070;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li p.txt_up {
    margin-top: 16px;
    font-size: 14px;
    font-weight: inherit;
    color: #333;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li p.txt_down {
    margin-top: 12px;
    font-size: 12px;
    font-weight: inherit;
    color: #707070;
  }
}
@media (max-width: 896px) {
  div.padding div.wrapper h2 {
    font-size: 24px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > nav {
    display: none;
  }
  div.padding div.wrapper > article {
    margin-top: 24px;
    margin-left: 48px;
    margin-right: 48px;
  }
  div.padding div.wrapper > article:nth-of-type(1) {
    margin-left: 0px;
    margin-right: 0px;
  }
  div.padding div.wrapper > article.contents1 > h1 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-left: 48px;
    margin-right: 48px;
  }
  div.padding div.wrapper > article.contents1 > ul {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left {
    transform: translateY(-42px);
    flex-basis: 49%;
    padding-right: 0px;
    margin-left: 48px;
    margin-right: 48px;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left > dl {
    margin-bottom: 32px;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left > dl > dt {
    font-size: 32px;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
  }
  div.padding div.wrapper > article.contents1 > ul > li.left > dl > dd {
    font-size: 16px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > article.contents1 > ul > li.right {
    width: 100%;
    flex-basis: 48%;
  }
  div.padding div.wrapper > article.contents1 > ul > li.right > i {
    width: 100%;
  }
  div.padding div.wrapper > article.contents1 > ul > li.right > i > img {
    width: 100%;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li {
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 32px;
    margin-right: 0px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > h4.top {
    height: 191px;
    padding: 32px 0px;
    margin-bottom: 32px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > dl > dt {
    font-size: 16px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > dl > dd {
    margin-top: 4px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > p {
    font-size: 16px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(1) > li {
    margin-top: 12px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(1) > li::before {
    margin-right: 5px;
  }
  div.padding div.wrapper > article.contents2 > ul.special_coffee_list > li > ul:nth-of-type(2) > li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li {
    margin-top: 24px;
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li dl dt {
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li p.txt_up {
    margin-top: 14px;
    font-size: 16px;
    font-weight: inherit;
    color: #333;
  }
  div.padding div.wrapper > article.contents3 ul.coffeeAndDrink_s li p.txt_down {
    margin-top: 8px;
    font-size: 12px;
    font-weight: inherit;
    color: #707070;
  }
}

footer {
  margin-top: 240px;
  width: 100%;
  height: 526px;
  background-color: #222;
  padding-top: 20px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer > div.footerWrapper {
  max-width: 1312px;
  width: 100%;
  height: 430px;
  padding: 0px 48px;
}
footer > div.footerWrapper > div.footer_top {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > div.footerWrapper > div.footer_top > div.topLeft {
  width: 220px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
footer > div.footerWrapper > div.footer_top > div.topLeft > a {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
footer > div.footerWrapper > div.footer_top > div.topLeft > a:hover {
  text-decoration: underline;
}
footer > div.footerWrapper > div.footer_top > div.topRight {
  width: 450px;
  height: 136px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
footer > div.footerWrapper > div.footer_top > div.topRight > div.Address, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer > div.footerWrapper > div.footer_top > div.topRight > div.Address > b, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter > b {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 12px;
}
footer > div.footerWrapper > div.footer_top > div.topRight > div.Address > span, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter > span {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}
footer > div.footerWrapper > div.footer_top > div.topRight > div.Address > ul, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer > div.footerWrapper > div.footer_top > div.topRight > div.Address > ul > li, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter > ul > li {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin-right: 20px;
}
footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter {
  margin-top: 30px;
}
footer > div.footerWrapper > div.footer_bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 48px;
}
footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn > li {
  margin-right: 40px;
  line-height: normal;
}
footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn > li > a {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn > li > a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}
footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn > li > a.YellowFont {
  color: #f5ce3e;
}
footer > div.footerWrapper > div.footer_bottom > ul.grayInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
footer > div.footerWrapper > div.footer_bottom > ul.grayInfo > li {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}
footer > div.footerWrapper > div.footer_bottom > ul.grayInfo > li:nth-of-type(n+2)::before {
  content: " │";
}
footer > div.footerWrapper > ul.footer_bottom_snsIcons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
footer > div.footerWrapper > ul.footer_bottom_snsIcons > li {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
footer > div.footerWrapper > ul.footer_bottom_snsIcons > li:nth-of-type(3) {
  margin-right: 0px;
}
footer > div.footerWrapper > ul.footer_bottom_snsIcons > li > a {
  width: 100%;
}
footer > div.footerWrapper > ul.footer_bottom_snsIcons > li > a > img {
  width: 100%;
}
@media (max-width: 1022px) {
  footer {
    margin-top: 200px;
    width: 100%;
    height: 448px;
    padding-top: 20px;
  }
  footer > div.footerWrapper {
    height: 368px;
    padding: 0px 32px;
  }
  footer > div.footerWrapper > div.footer_top {
    width: 100%;
    height: 50%;
  }
  footer > div.footerWrapper > div.footer_top > div.topLeft {
    width: 177px;
    height: 114px;
  }
  footer > div.footerWrapper > div.footer_top > div.topLeft > a {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
  footer > div.footerWrapper > div.footer_top > div.topRight {
    width: 379px;
    height: 114px;
  }
  footer > div.footerWrapper > div.footer_top > div.topRight > div.Address > b, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter > b {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
  }
  footer > div.footerWrapper > div.footer_top > div.topRight > div.Address > span, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter > span {
    font-size: 12px;
    font-weight: 400;
    color: #777;
  }
  footer > div.footerWrapper > div.footer_top > div.topRight > div.Address > ul > li, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter > ul > li {
    font-size: 12px;
    font-weight: 400;
    color: #777;
  }
  footer > div.footerWrapper > div.footer_bottom {
    width: 100%;
    height: 50%;
    padding-top: 40px;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn {
    margin-bottom: 30px;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn > li {
    margin-right: 40px;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn > li > a {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.grayInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.grayInfo > li {
    font-size: 12px;
    font-weight: 400;
    color: #777;
  }
  footer > div.footerWrapper > ul.footer_bottom_snsIcons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  footer > div.footerWrapper > ul.footer_bottom_snsIcons > li {
    margin-right: 15px;
  }
  footer > div.footerWrapper > ul.footer_bottom_snsIcons > li > a {
    width: 100%;
  }
  footer > div.footerWrapper > ul.footer_bottom_snsIcons > li > a > img {
    width: 100%;
  }
}
@media (max-width: 896px) {
  footer {
    margin-top: 80px;
    width: 100%;
    height: 562px;
    padding-top: 10px;
  }
  footer > div.footerWrapper {
    height: 497px;
  }
  footer > div.footerWrapper > div.footer_top {
    width: 100%;
    height: 28%;
  }
  footer > div.footerWrapper > div.footer_top > div.topLeft {
    width: 100%;
    height: 105px;
  }
  footer > div.footerWrapper > div.footer_top > div.topLeft > a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  footer > div.footerWrapper > div.footer_top > div.topRight > div.Address, footer > div.footerWrapper > div.footer_top > div.topRight > div.CustomerCenter {
    display: none;
  }
  footer > div.footerWrapper > div.footer_bottom {
    width: 100%;
    height: 72%;
    padding-top: 32px;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn {
    margin-bottom: 20px;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.footer_bottom_menu_Btn > li {
    margin-right: 14px;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.grayInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.grayInfo > li {
    margin-bottom: 10px;
  }
  footer > div.footerWrapper > div.footer_bottom > ul.grayInfo > li:nth-of-type(n+2)::before {
    content: "";
  }
  footer > div.footerWrapper > ul.footer_bottom_snsIcons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer > div.footerWrapper > ul.footer_bottom_snsIcons > li > a {
    width: 100%;
  }
  footer > div.footerWrapper > ul.footer_bottom_snsIcons > li > a > img {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */