html{
    
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}
//- - - - - - - - - - - - - - - - - - - -
img{
    vertical-align: middle;
}
a{

}
ul, ol, li{
    // list-style-type: none;
}



